/* font-family: "pfdintextcondpro-regular"; */
@font-face {
  font-family: "pfdintextcondpro-light";
  src: url("../fonts/pfdintextcondpro-light-webfont.ttf");
}
/* font-family: "pfdintextcondpro-regular"; */
@font-face {
  font-family: "pfdintextcondpro-light-it";
  src: url("../fonts/pfdintextcomppro-lightitalic.ttf");
}
/* font-family: "pfdintextcondpro-regular"; */
@font-face {
  font-family: "pfdintextcondpro-regular";
  src: url("../fonts/pfdintextcondpro-regular-webfont.ttf");
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "pfdintextcondpro-bold";
  src: url("../fonts/pfdintextcondpro-bold.ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 18px "pfdintextcondpro-regular", sans-serif;
}

.wrapper {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1%;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
.z-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.3);
}

.zoomed {
  display: block;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  z-index: 99999;
}

.zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transform: scale(1) translate(0px, 0px);
      -ms-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
}

.zoomify {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  -webkit-transform: scale(2) translate(-63%);
      -ms-transform: scale(2) translate(-63%);
          transform: scale(2) translate(-63%);
  z-index: 1501;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}

@-webkit-keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.flipOutX {
  -webkit-animation-name: flipOutX;
          animation-name: flipOutX;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}

.item_button {
  width: 197px;
  height: 41px;
  display: table;
  text-align: center;
  background-color: rgba(255, 132, 0, 0.7);
}
.item_button div {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}

.item_button:hover {
  background-color: #ff4e00;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

ul.cap {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
}

ul.cap:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}

ul.cap li {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  vertical-align: middle;
}

.xxx {
  width: 27%;
}

.yyy {
  width: 20%;
}

.zzz {
  position: relative;
}

.www {
  width: 20%;
}

.vvv {
  cursor: pointer;
}

.vvv:hover {
  text-decoration: underline;
}

/*index_style*/
header {
  float: left;
}
header .header_logo {
  width: 100%;
  float: left;
  margin: 17px 0 23px;
}
header .header_logo img {
  width: 100%;
}
header .header_place {
  float: left;
  text-align: center;
  font-size: 19px;
}
header .header_place > div {
  width: 45%;
  margin: 0 auto;
}
header .header_feedback {
  float: right;
}
header .header_feedback .feedback_phone {
  width: 77%;
  margin: 0 auto;
  margin-bottom: 13px;
  letter-spacing: -0.9px;
}
header .header_feedback .feedback_phone a {
  font-size: 30px;
  color: black;
}
header .header_feedback .feedback_button {
  width: 210px;
  height: 40px;
  display: table;
  text-align: center;
  background-color: #ff8400;
}
header .header_feedback .feedback_button div {
  padding: 0 5%;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}
header .header_feedback .feedback_button:hover {
  background-color: #ff4e00;
}
header .header_menu {
  display: block;
  float: left;
  background: #ff8400;
}
header .header_menu ul {
  margin: 13px 0;
}
header .header_menu ul li {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
header .header_menu .menu_320 {
  display: none;
  float: right;
  cursor: pointer;
}
header .header_menu .menu_320_list {
  display: none;
  position: absolute;
  z-index: 99999;
  width: 320px;
  height: auto;
  padding: 1% 2%;
  right: 0px;
  margin-top: 42px;
  background: #ff8400;
  box-sizing: border-box;
}
header .header_menu .menu_320_list ul li {
  padding: 1%;
  list-style-type: disc;
  list-style-position: inside;
}
header .header_menu .menu_320_list ul li:hover {
  text-decoration: underline;
  list-style-type: circle;
}

main {
  float: left;
}
main .slider {
  position: relative;
}
main .slider .block_slider .block_slider_it {
  max-width: 320px;
  width: 100%;
  height: 406px;
}
main .slider .block_slider .block_slider_it img {
  width: 136%;
  height: 100%;
}
main .line {
  height: 6px;
  background-color: #fdc029;
}
main .block_form {
  width: 100%;
  float: left;
  box-sizing: border-box;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .block_form form {
  padding: 20px 16px 16px;
  -webkit-transform: skewX(-16.5deg);
      -ms-transform: skewX(-16.5deg);
          transform: skewX(-16.5deg);
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  width: 100%;
  max-width: 885.3px;
  margin: 0 auto;
  overflow: hidden;
}
main .block_form form > div {
  -webkit-transform: skewX(16.5deg);
      -ms-transform: skewX(16.5deg);
          transform: skewX(16.5deg);
}
main .block_form form .form_title_l1 {
  color: black;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
main .block_form form .form_title_l2 {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
main .block_form form .lable {
  float: left;
  width: 100%;
}
main .block_form form .ps1 {
  display: none;
}
main .block_form form .ps2 {
  display: block;
}
main .block_form form .aaa {
  width: auto;
  height: auto;
  -webkit-transform: skewX(0);
      -ms-transform: skewX(0);
          transform: skewX(0);
}
main .block_form form input[type=checkbox].css-checkbox {
  width: auto;
  height: auto;
  -webkit-transform: skewX(0);
      -ms-transform: skewX(0);
          transform: skewX(0);
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
main .block_form form input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 31px;
  height: 26px;
  display: inline-block;
  line-height: 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 15px;
  vertical-align: middle;
  cursor: pointer;
}
main .block_form form input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -26px;
}
main .block_form form label.css-label {
  background-image: url(../img/check.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .block_form form .bbb {
  box-sizing: border-box;
  float: left;
  height: 41px;
  margin: 0.4% 0.8% 0.8% 0;
  max-width: 197px;
  width: 100%;
  padding: 14px 20px 13px 10px;
  border: 1px solid #4e5659;
  font-size: 20px;
  font-family: "pfdintextcondpro-regular";
  text-transform: uppercase;
  color: #2b2a28;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
main .block_form form .item_button {
  float: left;
  margin: 0.4% 0.8% 0.8% 0;
}
main .block_form form .item_button > div {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
main .block_form .block_form_ps {
  width: auto;
  float: right;
  text-align: right;
  z-index: 9999999999;
  position: relative;
  color: white;
  margin-right: 12%;
}
main .block_form .block_form_ps a {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}
main .about {
  float: left;
}
main .about .about_what_we_can {
  float: right;
  margin: -7px 0 92px;
}
main .about .about_what_we_can .about_what_we_can__item {
  margin-top: 50px;
  display: inline-block;
  vertical-align: middle;
  padding: 2%;
  box-sizing: border-box;
}
main .about .about_what_we_can .about_what_we_can__item .item_text {
  margin: 27px 0;
}
main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_img {
  display: inline-block;
  vertical-align: middle;
}
main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_img img {
  width: 100%;
}
main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_text {
  display: inline-block;
  vertical-align: middle;
}
main .about .about_our_equip {
  float: right;
  margin-top: 12px;
}
main .about .about_our_equip .about_our_equip__item {
  margin-top: 50px;
  padding: 0% 3%;
  box-sizing: border-box;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text h2 {
  text-align: center;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .guarantee {
  max-width: 239px;
  width: 100%;
  max-height: 346px;
  height: auto;
  margin: 38px auto 107px;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .equip {
  max-width: 262px;
  width: 100%;
  max-height: 262px;
  height: auto;
  margin: 87px auto 0;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide img {
  width: 100%;
  z-index: 9999999;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev {
  z-index: 999;
  width: 0;
  height: 0;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-top: none;
  border-bottom: 17px solid #ff9701;
  position: absolute;
  left: 46%;
  top: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  margin-top: -24px;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next {
  z-index: 999;
  width: 0;
  height: 0;
  border-left: 9.5px solid transparent;
  border-right: 9.5px solid transparent;
  border-bottom: none;
  border-top: 17px solid #ff9701;
  position: absolute;
  left: 46%;
  top: 100%;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:before {
  content: none;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:before {
  content: none;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:hover:before,
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:focus:before {
  content: none;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:hover:before,
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:focus:before {
  content: none;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:hover,
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:focus {
  outline: none;
  border-bottom-color: #ff4e00;
}
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:hover,
main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:focus {
  outline: none;
  border-top-color: #ff4e00;
}
main .our_customers {
  float: left;
  background-color: #fdc029;
}
main .our_customers .our_customers_title_l1 {
  float: left;
  text-align: center;
  font-size: 35px;
  font-family: "pfdintextcondpro-light";
  text-transform: uppercase;
  margin-top: 42px;
}
main .our_customers .our_customers_title_l2 {
  margin: 20px auto 50px;
  text-align: center;
  float: left;
  font-size: 22px;
  font-weight: 300;
  font-family: "pfdintextcondpro-light-it";
}
main .our_customers .menu_tabs {
  float: left;
}
main .our_customers .menu_tabs #tabs {
  float: left;
}
main .our_customers .menu_tabs #tabs ul li {
  float: left;
  text-align: center;
  margin: 0 0.6% 43px;
}
main .our_customers .menu_tabs #tabs ul li a > div {
  text-align: center;
  color: black;
  font-family: "pfdintextcondpro-bold";
  font-size: 22px;
  text-transform: uppercase;
}
main .our_customers .menu_tabs #tabs ul li a .triangle {
  width: 0;
  height: 0;
  border-left: 23.5px solid transparent;
  border-right: 23.5px solid transparent;
  border-top: 23.5px solid #fdc029;
  position: absolute;
  left: 0;
  right: 0;
  margin: 44px auto 0;
  display: none;
}
main .our_customers .menu_tabs #tabs ul li.ui-tabs-active a > div {
  font-family: "pfdintextcondpro-light";
}
main .our_customers .menu_tabs #tabs ul li.ui-tabs-active a .triangle {
  display: block;
}
main .our_customers .menu_tabs #tabs #tabs-1,
main .our_customers .menu_tabs #tabs #tabs-2,
main .our_customers .menu_tabs #tabs #tabs-3,
main .our_customers .menu_tabs #tabs #tabs-4 {
  background-color: white;
  float: left;
}
main .our_customers .menu_tabs #tabs #tabs-1 .our_customers_logo,
main .our_customers .menu_tabs #tabs #tabs-2 .our_customers_logo,
main .our_customers .menu_tabs #tabs #tabs-3 .our_customers_logo,
main .our_customers .menu_tabs #tabs #tabs-4 .our_customers_logo {
  position: relative;
  min-height: 137px;
  float: left;
}
main .our_customers .menu_tabs #tabs #tabs-1 .our_customers_logo img,
main .our_customers .menu_tabs #tabs #tabs-2 .our_customers_logo img,
main .our_customers .menu_tabs #tabs #tabs-3 .our_customers_logo img,
main .our_customers .menu_tabs #tabs #tabs-4 .our_customers_logo img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
main .our_customers .menu_acordeon_320 {
  display: none;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it {
  float: left;
  width: 100%;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .menu_acordeon_320_it__title {
  background-color: #fdc029;
  border-top: 1px solid black;
  padding: 18px 29px 18px 8px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "pfdintextcondpro-bold";
  font-size: 22px;
  position: relative;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .menu_acordeon_320_it__title .title_arrow {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 39%;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .menu_acordeon_320_it__title .title_arrow img {
  width: 100%;
  height: auto;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .menu_acordeon_320_it__text {
  background-color: white;
  border-top: 1px solid black;
  display: none;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .menu_acordeon_320_it__text .our_customers_logo {
  text-align: center;
  padding: 1%;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .display_on {
  display: block;
}
main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  float: left;
  background-color: black;
  color: white;
}
footer .footer_logo {
  float: left;
  margin: 43px auto 45px;
}
footer .footer_menu {
  float: left;
}
footer .footer_menu ul li a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}
footer .footer_place {
  float: left;
}
footer .footer_place p {
  font-size: 16px;
}
footer .footer_feedback {
  float: right;
}
footer .footer_feedback .feedback_button {
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}
footer .footer_feedback .feedback_phone {
  width: 80%;
  float: right;
}
footer .footer_feedback .feedback_phone a {
  color: white;
}
footer .cap2 {
  display: none;
}

main .our_customers .menu_acordeon_320 .menu_acordeon_320_it .fff {
  padding: 18px 14px 18px 8px;
}

.ttt {
  height: 30px;
  border-top: 1px solid black;
}

.ps1 {
  display: none;
}

@media (max-width: 1024px) {
  main .block_form form {
    width: 100%;
  }

  main .block_form .content {
    padding: 0 0;
  }

  main .block_form form,
  main .block_form form > div,
  main .block_form form .aaa,
  main .block_form form .bbb {
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
  }

  main .about .about_what_we_can {
    margin: 7px 0 92px;
  }

  .xxx {
    width: 30%;
  }

  .yyy {
    width: 17%;
  }
}
@media (max-width: 920px) {
  main .our_customers .menu_tabs {
    display: none;
  }

  main .our_customers .menu_acordeon_320 {
    display: block;
  }
}
@media (max-width: 850px) {
  footer .cap2 {
    display: block;
  }

  footer .footer_logo,
  footer .footer_menu,
  footer .footer_place,
  footer .footer_feedback,
  footer .footer_feedback .feedback_phone {
    float: none;
    margin: 1% auto;
  }

  footer .footer_logo {
    display: none;
  }

  footer .footer_menu {
    margin: 18px auto 36px;
  }
  footer .footer_menu ul li {
    margin: 1% auto;
  }

  footer .footer_feedback {
    margin: 0 auto 35px;
  }

  footer .footer_place {
    margin: 0 auto 18px;
    max-width: 235px;
  }

  footer .cap2_it {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
  }

  footer ul.cap {
    display: none;
  }
}
@media (max-width: 750px) {
  header .header_place {
    display: none;
  }

  header .header_menu .cap {
    display: none;
  }

  header .header_menu .menu_320 {
    display: block;
    padding: 15px 22px 14px 1%;
  }

  header .header_feedback .feedback_phone {
    width: 83%;
  }
  header .header_feedback .feedback_phone a {
    font-size: 21px;
  }

  header .header_feedback .feedback_button {
    width: 136px;
    height: 26px;
  }
  header .header_feedback .feedback_button div {
    font-size: 16px;
  }

  main .block_form .block_form_ps {
    float: left;
    margin-right: 0px;
    margin-left: 3%;
  }

  main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_img {
    display: none;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .guarantee {
    margin: 23px auto 59px;
  }

  main .about .about_what_we_can {
    margin: 0 0 61px;
  }

  main .about .about_what_we_can .about_what_we_can__item {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .zoomify {
    -webkit-transform: scale(1.4) translate(0%);
        -ms-transform: scale(1.4) translate(0%);
            transform: scale(1.4) translate(0%);
  }

  main .block_form form .item_button {
    width: 99%;
  }

  main .block_form form .form_title_l1 {
    font-size: 23px;
    margin: 0 0 5px 0;
  }

  main .block_form form .form_title_l2 {
    margin: 0 0 5px 0;
  }

  main .block_form form .bbb {
    width: 99%;
    max-width: none;
  }

  main .block_form .block_form_ps {
    display: none;
    width: 77%;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    float: none;
    overflow: hidden;
  }

  main .about .span_4_of_12 {
    width: 100%;
  }
  main .about .span_8_of_12 {
    width: 100%;
  }

  main .block_form form .ps1 {
    display: block;
    color: black;
    font-size: 14px;
    margin: 0px auto 2px;
    line-height: 85%;
    padding: 2px 0 0;
  }
  main .block_form form .ps1 a {
    color: black;
  }

  main .block_form form .ps2 {
    display: none;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .equip {
    margin: 14px auto 0;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev {
    border-bottom: 9.5px solid transparent;
    border-top: 9.5px solid transparent;
    border-left: none;
    border-right: 17px solid #ff9701;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto auto -19px;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-prev:hover {
    border-right-color: #ff4e00;
    border-bottom-color: transparent;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next {
    border-bottom: 9.5px solid transparent;
    border-top: 9.5px solid transparent;
    border-left: 17px solid #ff9701;
    border-right: none;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto -19px auto auto;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text .about_our_equip__item_slide .owl-next:hover {
    border-left-color: #ff4e00;
    border-top-color: transparent;
  }

  main .about .about_our_equip .about_our_equip__item .about_our_equip__item_text h2 {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */