/* font-family: "pfdintextcondpro-regular"; */
@font-face {
  font-family: "pfdintextcondpro-regular";
  src: url("../fonts/LCD2B/pfdintextcondpro-regular.ttf");
}
/* font-family: "pfdintextcondpro-italic"; */
@font-face {
  font-family: "pfdintextcondpro-italic";
  src: url("../fonts/LCD2B/pfdintextcondpro-italic.ttf");
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "pfdintextcondpro-bold";
  src: url("../fonts/LCD2B/pfdintextcondpro-bold.ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 12px "pfdintextcondpro-regular";
}

.wrapper {
  min-width: 320px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%;
  }
}
.item_button {
  width: 197px;
  height: 41px;
  background-color: rgba(255, 132, 0, 0.7);
}

header {
  width: 100%;
  float: left;
}
header .header_logo {
  float: left;
}
header .header_place {
  float: left;
}
header .header_feedback {
  float: left;
}
header .header_menu {
  display: block;
  float: left;
  background: #ff8400;
}
header .header_menu ul li {
  float: left;
  margin: 1%;
  list-style-type: disc;
}
header .header_menu ul li:first-child {
  list-style-type: none;
}

main {
  width: 100%;
  float: left;
}
main .slider .block_slider .block_slider_it {
  max-width: 320px;
  height: 406px;
  float: left;
}
main .slider .block_slider .block_slider_it img {
  width: 136%;
  height: auto;
}
main .slider .block_slider .block_slider_it:first-child {
  margin-left: -115px;
}
main .line {
  height: 6px;
  background-color: #fdc029;
}
main .block_form {
  width: 100%;
  height: 150px;
  float: left;
  box-sizing: border-box;
  margin-top: -190px;
}
main .block_form form {
  width: 90%;
  padding: 25px 33px;
  float: left;
  -webkit-transform: skewX(-16.5deg);
      -ms-transform: skewX(-16.5deg);
          transform: skewX(-16.5deg);
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}
main .block_form form div {
  -webkit-transform: skewX(16.5deg);
      -ms-transform: skewX(16.5deg);
          transform: skewX(16.5deg);
}
main .block_form form .form_title_l1 {
  color: black;
  font-family: "pfdintextcondpro-regular";
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}
main .block_form form .form_title_l2 {
  color: black;
  font-family: "pfdintextcondpro-regular";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
main .block_form form input {
  -webkit-transform: skewX(16.5deg);
      -ms-transform: skewX(16.5deg);
          transform: skewX(16.5deg);
  float: left;
  height: 29px;
  margin: 0.4%;
}
main .block_form form .item_button {
  float: left;
  margin: 0.4%;
}
main .block_form .block_form_ps {
  width: auto;
  float: right;
  text-align: right;
  z-index: 9999999999;
  position: relative;
}
main .about {
  float: left;
}
main .about .about_what_we_can {
  float: left;
}
main .about .about_what_we_can .about_what_we_can__item {
  float: left;
}
main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_img {
  float: left;
}
main .about .about_what_we_can .about_what_we_can__item .what_we_can__item_text {
  float: left;
}
main .about .about_our_equip {
  float: left;
}
main .guarantee {
  float: left;
  background-color: #2b2a28;
}
main .guarantee .guarantee_title {
  float: left;
  text-align: center;
}
main .guarantee .guarantee_img {
  float: left;
}
main .guarantee .guarantee_paragr {
  float: left;
}
main .guarantee .guarantee_paragr .guarantee_paragr_img {
  float: left;
}
main .guarantee .guarantee_paragr .guarantee_paragr_img .guarantee_paragr_text {
  float: left;
}
main .our_customers {
  float: left;
}

/*# sourceMappingURL=style.css.map */