@import 'reset';
@import 'grid';
@import 'variables';
.z-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1500;
    background: rgba(0, 0, 0, .3);
}

.zoomed {
    display: block;
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    z-index: 99999;
}

.zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    transform: scale(1) translate(0px, 0px);
}

.zoomify {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    transform: scale(2) translate(-63%);
    z-index: 1501;
}

.animated.flipOutX,
.animated.flipOutY {
    animation-duration: .75s;
}

@keyframes flipOutX {
    from {
        transform: perspective(400px);
    }
    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }
    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flipOutX {
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-name: flipInX;
}

.item_button {
    width: 197px;
    height: 41px;
    display: table;
    text-align: center;
    background-color: $pr_color_op;
    div {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.item_button:hover {
    background-color: rgba(255, 78, 0, 1);
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

ul.cap {
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
}

ul.cap:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

ul.cap li {
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: middle;
}

.xxx {
    width: 27%;
}

.yyy {
    width: 20%;
}

.zzz {
    position: relative
}

.www {
    width: 20%;
}

.vvv {
    cursor: pointer;
}

.vvv:hover {
    text-decoration: underline;
}

#triangle {
    width: 0;
    height: 0;
    border-left: 23.5px solid transparent;
    border-right: 23.5px solid transparent;
    border-top: 23.5px solid rgb(253, 192, 41);
    position: absolute;
    left: 0;
    right: 0;
    margin: 44px auto 0;
    display: none;
}


/*index_style*/

header {
    float: left;
    .header_logo {
        float: left;
        margin: 17px 0 23px;
    }
    .header_place {
        float: left;
        text-align: center;
        font-size: 19px;
        >div {
            width: 45%;
            margin: 0 auto;
        }
    }
    .header_feedback {
        float: right;
        .feedback_phone {
            width: 77%;
            margin: 0 auto;
            margin-bottom: 13px;
            letter-spacing: -0.9px;
            a {
                font-size: 30px;
                color: rgb(0, 0, 0);
            }
        }
        .feedback_button {
            width: 210px;
            height: 40px;
            display: table;
            text-align: center;
            background-color: $pr_color_n_o;
            div {
                padding: 0 5%;
                font-size: 25px;
                color: rgba(255, 255, 255, 1);
                text-transform: uppercase;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
            }
        }
        .feedback_button:hover {
            background-color: rgba(255, 78, 0, 1)
        }
    }
    .header_menu {
        display: block;
        float: left;
        background: $pr_color_n_o;
        ul {
            margin: 13px 0;
            li {
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                color: rgb(255, 255, 255);
            }
        }
        .menu_320 {
            display: none;
            float: right;
            cursor: pointer;
        }
        .menu_320_list {
            display: none;
            position: absolute;
            z-index: 9999;
            background: $pr_color_n_o;
            width: 320px;
            height: 250px;
            padding: 2% 1%;
            ul li {
                padding: 1%;
                list-style-type: disc;
                list-style-position: inside;
            }
            ul li:hover {
                text-decoration: underline;
                list-style-type: circle;
            }
        }
    }
}

main {
    float: left;
    .slider {
        .block_slider {
            .block_slider_it {
                max-width: 320px;
                width: 100%;
                height: 406px;
                img {
                    width: 136%;
                    height: 100%;
                }
            }
        }
    }
    .line {
        height: 6px;
        background-color: rgb(253, 192, 41);
    }
    .block_form {
        width: 100%;
        height: 150px;
        float: left;
        box-sizing: border-box;
        margin-top: -190px;
        z-index: 9999;
        position: absolute;
        form {
            padding: 20px 16px 16px;
            // float: left;
            transform: skewX(-16.5deg);
            background-color: rgba(255, 255, 255, .8);
            box-sizing: border-box;
            // margin: 0 7%;
            width: 100%;
            max-width: 885.3px;
            margin: 0 auto;
            overflow: hidden;
            >div {
                transform: skewX(16.5deg);
            }
            .form_title_l1 {
                color: rgb(0, 0, 0);
                font-size: 35px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .form_title_l2 {
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .lable {
                float: left;
                width: 100%;
            }
            .aaa {
                width: auto;
                height: auto;
                transform: skewX(0);
            }
            input {
                transform: skewX(16.5deg);
                float: left;
                height: 12px;
                margin: 0.4%;
                width: 165px;
            }
            .bbb {
                display: inline-block;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                padding: 14px 20px 13px 10px;
                border: 1px solid rgb(78, 86, 89);
                font-size: 20px;
                font-family: "pfdintextcondpro-regular";
                text-transform: uppercase;
                // font: normal 20px/normal "Times New Roman", Times, serif;
                color: rgb(43, 42, 40);
                -o-text-overflow: clip;
                text-overflow: clip;
                background: #ffffff;
                -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            }
            .item_button {
                float: left;
                margin: 0.4%;
                >div {
                    font-size: 25px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
        .block_form_ps {
            width: auto;
            float: right;
            text-align: right;
            z-index: 9999999999;
            position: relative;
            color: rgba(255, 255, 255, 1);
            margin-right: 12%;
            a {
                color: rgba(255, 255, 255, 1);
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }
    .about {
        float: left;
        .about_what_we_can {
            float: left;
            margin: -7px 0 92px;
            .about_what_we_can__item {
                margin-top: 50px;
                display: inline-block;
                vertical-align: middle;
                .item_text {
                    margin: 27px 0;
                }
                .what_we_can__item_img {
                    display: inline-block;
                    vertical-align: middle;
                }
                .what_we_can__item_text {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .about_our_equip {
            float: left;
            margin-top: 12px;
            .about_our_equip__item {
                margin-top: 50px;
                .about_our_equip__item_text {
                    h2 {
                        text-align: center
                    }
                    .guarantee {
                        max-width: 239px;
                        width: 100%;
                        max-height: 346px;
                        height: auto;
                        margin: 38px auto 107px;
                    }
                    .equip {
                        max-width: 262px;
                        width: 100%;
                        max-height: 262px;
                        height: auto;
                        margin: 87px auto 0;
                    }
                    .about_our_equip__item_slide {
                        img {
                            width: 100%;
                            z-index: 9999999;
                        }
                        .owl-prev {
                            z-index: 999;
                            width: 0;
                            height: 0;
                            border-left: 9.5px solid transparent;
                            border-right: 9.5px solid transparent;
                            border-top: none;
                            border-bottom: 17px solid #ff9701;
                            position: absolute;
                            left: 46%;
                            top: 0;
                            padding: 0;
                            border-radius: 0;
                            background-color: transparent;
                            margin-top: -24px;
                        }
                        .owl-next {
                            z-index: 999;
                            width: 0;
                            height: 0;
                            border-left: 9.5px solid transparent;
                            border-right: 9.5px solid transparent;
                            border-bottom: none;
                            border-top: 17px solid #ff9701;
                            position: absolute;
                            left: 46%;
                            top: 100%;
                            padding: 0;
                            border-radius: 0;
                            background-color: transparent;
                        }
                        .owl-prev:before {
                            content: none;
                        }
                        .owl-next:before {
                            content: none;
                        }
                        .owl-prev:hover:before,
                        .owl-prev:focus:before {
                            content: none;
                        }
                        .owl-next:hover:before,
                        .owl-next:focus:before {
                            content: none;
                        }
                        .owl-prev:hover,
                        .owl-prev:focus {
                            outline: none;
                            border-bottom-color: rgba(255, 78, 0, 1);
                        }
                        .owl-next:hover,
                        .owl-next:focus {
                            outline: none;
                            border-top-color: rgba(255, 78, 0, 1);
                        }
                    }
                }
            }
        }
    }
    .our_customers {
        float: left;
        background-color: rgb(253, 192, 41);
        .our_customers_title_l1 {
            float: left;
            text-align: center;
            font-size: 35px;
            font-family: "pfdintextcondpro-light";
            text-transform: uppercase;
            margin-top: 42px;
        }
        .our_customers_title_l2 {
            margin: 20px auto 50px;
            text-align: center;
            float: left;
            font-size: 22px;
            font-weight: 300;
            font-family: "pfdintextcondpro-light-it";
        }
        .menu_tabs {
            float: left;
            #tabs {
                float: left;
                ul li {
                    float: left;
                    text-align: center;
                    margin: 0 0.6% 43px;
                    a div {
                        text-align: center;
                        color: rgb(0, 0, 0);
                        font-family: "pfdintextcondpro-bold";
                        font-size: 22px;
                        text-transform: uppercase;
                    }
                }
                ul li.ui-tabs-active {
                    a>div {
                        font-family: "pfdintextcondpro-light";
                        #triangle {
                            display: block;
                        }
                    }
                }
                #tabs-1,
                #tabs-2,
                #tabs-3,
                #tabs-4 {
                    background-color: rgba(255, 255, 255, 1);
                    float: left;
                    .our_customers_logo {
                        position: relative;
                        min-height: 137px;
                        float: left;
                        img {
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            position: absolute;
                            margin: auto;
                        }
                    }
                }
            }
        }
        .menu_acordeon_320 {
            display: none;
            .menu_acordeon_320_it {
                float: left;
                width: 100%;
                .menu_acordeon_320_it__title {
                    background-color: rgba(253, 192, 41, 1);
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    margin-top: -1px;
                    padding: 18px 14px 18px 8px;
                    box-sizing: border-box;
                    text-transform: uppercase;
                    font-family: "pfdintextcondpro-bold";
                    font-size: 22px;
                    .title_arrow {
                        float: right;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .menu_acordeon_320_it__text {
                    background-color: rgba(255, 255, 255, 1);
                    // transition:2s;
                    display: none;
                    .our_customers_logo {
                        text-align: center;
                        padding: 1%;
                    }
                }
                .display_on {
                    display: block;
                    // transition:2s;
                }
                .rotate {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

footer {
    float: left;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    .footer_logo {
        float: left;
        margin: 43px auto 45px;
    }
    .footer_menu {
        float: left;
        ul li a {
            color: rgba(255, 255, 255, 1);
            text-decoration: underline;
            font-size: 16px;
        }
    }
    .footer_place {
        float: left;
        p {
            font-size: 16px;
        }
    }
    .footer_feedback {
        float: right;
        .feedback_button {
            text-decoration: underline;
            text-transform: uppercase;
            cursor: pointer;
        }
        .feedback_phone {
            width: 80%;
            float: right;
            a {
                color: rgba(255, 255, 255, 1)
            }
        }
    }
}

@media (max-width: 1006px) {

    //         main .slider.span_12_of_12 .block-form {
    //             transform: skewX(-16.5deg);
    // }
}
